a{
  text-decoration: none !important;
}

.btn-w {
  width: 100%;
}

.btn-ranaliz{
  background-color: #02203E !important;
  color: white !important;
}

.btn-ranaliz:hover{
  background-color: rgba(2, 32, 62, 0.8) !important;
  color: white !important;
}
.carousel-button {
  background-color: #02203E !important;
  color: white !important;
}

.carousel-button:hover {
  background-color: #02203ECC !important;
  color: white !important;
}