{
  "rules": {
    "no-undef": "off",
    "react/prop-types": "off",
    "react/no-unescaped-entities": 0
  },
  "extends": [
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  }
}
